<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>PRODUCTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Nuevo Producto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">Presupuesto</ion-label>
              <ion-input [(ngModel)]="newUser.presupuesto"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">Unidad</ion-label>
              <ion-input [(ngModel)]="newUser.unidad"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">Producto</ion-label>
              <ion-input [(ngModel)]="newUser.producto"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input [(ngModel)]="newUser.cantidad"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">Valor Unitario</ion-label>
              <ion-input [(ngModel)]="newUser.valorunitario"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">Valor Total</ion-label>
              <ion-input [(ngModel)]="newUser.valortotal"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Fecha de Adquisición del producto</ion-label>
              <ion-input [(ngModel)]="newUser.fechadquisicion"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Proveedor</ion-label>
              <ion-input [(ngModel)]="newUser.proveedor"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div style="margin: 20px;">
    <ion-button (click)="save()" expand="block" shape="round" color="success">
      Guardar
    </ion-button>
  </div>
  @if (cargando) {
    <div style="text-align: center;">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  }

  
    <ion-list>
      @for (user of users; track $index) {
        <ion-item>
          <ion-label class="info-label">
            <ion-icon name="pricetag-outline" class="info-icon"></ion-icon>
            <span class="info-text">Producto: {{user.producto}}</span>
            <br>
            <ion-icon name="cube-outline" class="info-icon"></ion-icon>
            <span class="info-text">Unidad: {{user.unidad}}</span>
            <br>
            <ion-icon name="cash-outline" class="info-icon"></ion-icon>
            <span class="info-text">Presupuesto: {{user.presupuesto}}</span>
            <br>
            <ion-icon name="clipboard-outline" class="info-icon"></ion-icon>
            <span class="info-text">Cantidad: {{user.cantidad}}</span>
            <br>
            <ion-icon name="cash-outline" class="info-icon"></ion-icon>
            <span class="info-text">Valor Unitario: {{user.valorunitario}}</span>
            <br>
            <ion-icon name="cash-outline" class="info-icon"></ion-icon>
            <span class="info-text">Valor Total: {{user.valortotal}}</span>
            <br>
            <ion-icon name="calendar-outline" class="info-icon"></ion-icon>
            <span class="info-text">Fecha de Adquisición: {{user.fechadquisicion}}</span>
            <br>
            <ion-icon name="person-outline" class="info-icon"></ion-icon>
            <span class="info-text">Proveedor: {{user.proveedor}}</span>
          </ion-label>
          
          <ion-buttons slot="end">

            <ion-button (click)="edit(user)">
              <ion-icon slot="icon-only" name="create" color="primary"></ion-icon>
            </ion-button>

            <ion-button (click)="delete(user)">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button> 
          </ion-buttons>
        </ion-item>
      }
    </ion-list>
</ion-content>
