#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  margin: 20px;
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

ion-item {
  margin: 10px 0;
}

ion-button {
  margin-top: 20px;
}

ion-spinner {
  margin-top: 20px;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  margin: 0;
  color: var(--ion-color-medium);
}


.info-label {
  display: flex;
  flex-direction: column;
}

.info-icon {
  margin-right: 5px;
}

.info-text {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}
